/*FOOTER*/

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border-top: 1px solid $secondary;
}

.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.footer__logo {
  width: 75px;
  height: auto;
}

.footer__text {
  font-size: 12px;
  text-align: center;
}
